main{
    @include container(column, flex-start, center);
    width: 100%;
    min-width: $min-wdth;
    height: auto;
    background-color: $bg_color;
}

// BANNER
section.banner{
    @include container(row, center, center);
    width: 100%;
    min-width: $min-wdth;
    max-width: $max_width;
    height: 550px;
    padding-top: 150px;

    .text-container{
        @include container(column, flex-start, flex-start);
        flex: 1;

        h1{
            font-size: 2.5em;
            font-weight: 400;
            line-height: 50px;

            span{
                color: $btn_font_color;
            }
        }

        p{
            margin-top: 20px;
            line-height: 30px;
            font-size: 1.1em;
        }

        .btn-pattern{
            @include container(row, flex-start, center);
            width: 100%;
            margin-top: 50px;
            a{
                @include container(row, center, center);
                width: 150px;
                height: 60px;

                ion-icon{
                    margin-left: 5%;
                    transform: rotateY(180deg);
                }
            }
            a:nth-of-type(2){
                background-color: #e1e7fc;
                color: $btn_font_color;
                margin-left: 15px;
            }

            a:hover{
                transform: translateY(-5px);
                filter: $drop_shadow;
        
                ion-icon{
                    animation: arrowAnimation 1.5s ease infinite; //keyframe in body.scss banner
                }
            }

            @keyframes arrowAnimation {
                0%{
                    transform: translateX(5px) rotateY(180deg);
                }

                50%{
                    transform: translateX(-2px) rotateY(180deg);
                }

                100%{
                    transform: translateX(5px) rotateY(180deg);
                }
            }
        }
    }

    .img-container{
        flex: 1;
        padding: 20px;
        pointer-events: none;
        img{
            width: 480px;
        }
    }
}

// CARDS
section.cards{
    @include container(column, center, center);
    width: 100vw;
    min-width: $min-wdth;
    height: auto;
    padding-top: 50px;

    .cards-container{
        @include container(row, space-between, center);
        flex-wrap: wrap;
        width: 100%;
        min-width: $min-wdth;
        max-width: $max_width;
        height: 100%;

        .card{
            @include container(column, center, center);
            width: calc(90% / 4);
            height: auto;
            min-height: 350px;
            margin-top: 40px;
            padding: 10px;
            border: 2px solid $border_color;
            border-radius: 10px;
            border-bottom: 6px solid $border_color;
            background-color: $bg_color_banner;
            transition: 0.7s ease;

            img{
                width: 80px;
                pointer-events: none;
            }

            .text{
                @include container(column, center, center);
                text-align: center;
                pointer-events: none;

                h3{
                    width: 95%;
                    font-weight: 500;
                    margin: 15px 0px;
                }

                P{
                    width: 95%;
                    height: auto;
                    min-height: 150px;
                    text-align: justify;
                }

                a{
                    width: 100px;
                    padding: 5px;
                    margin: 10px 0px;
                    border: 2px solid $bg_color_border;
                    border-radius: 10px;
                    color: inherit;
                    font-weight: 500;
                    text-transform: capitalize;
                    transition: 0.7s ease;
                    pointer-events: all;
                }

                a:hover{
                    background-color: $bg_color_border;
                    color: white;
                    transform: scale(1.1);
                    transition: 0.7s ease;
                }
            }
        }

        .card:hover{
            transform: translateY(-15px);
            transition: 0.7s ease;
            filter: $drop_shadow;
        }
    }
}

//SLIDER
section.slider{
    @include container(row, center, center);
    width: 100vw;
    height: 600px;
    padding: 100px 0px;

    .slider-container{
        @include container(row, center, center);
        width: 100%;
        min-width: calc($min-wdth - 100px);
        max-width: calc($max_width - 100px);
        height: 95%;
        overflow: hidden;
        border-radius: 10px;
        transition: 0.5s ease;

        img{
            max-width: 100%;
        }
        
        .slider-img{
            display: flex;
            overflow: hidden;
            // width: calc(100% / 2);
            flex: 1;
            // background-color: black;
            width: 100%;
            height: 100%;
            position: relative;

            .second-border{
                width: 100%;
                height: 100%;
                
                .img{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-width: 100%;
                    height: 100%;
                    // background-image: url('/assets/img/6538623.jpg');
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    // border-radius: 0px 100px 150px 0px;
                    transition: 0.8s ease;
                }
    
                img {
                    width: 100%;
                    flex: 0 0 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }
            }
        }

        .slider-text{
            display: flex;
            flex-direction: row;
            align-items: center;
            // width: calc(100% / 2);
            width: 100%;
            height: 100%;
            flex: 1;
            overflow: hidden;
            padding: 10px;

            div{
                @include container(column, center, center);
                min-width: 100%;
                height: 100%;
                text-align: center;

                img{
                    max-width: 250px;
                    height: auto;
                }

                h4{
                    width: 85%;
                    height: auto;
                    margin: 25px 0px;
                    font-weight: 400;
                    line-height: 30px;
                    font-size: 1.3rem;
                    color: #4b4b4b;
                }

                p{
                    height: auto;
                    color: $sub_p_color;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }

            // div:nth-of-type(2){
            //     display: none;
            // }
        }

        .slider-button{
            @include container(row, space-between, center);
            position: absolute;
            width: 100%;
            max-width: calc($max_width - 50px);

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                color: white;
                border-radius: 50%;
                border: 1px transparent;
                background-color: $btn_bg_color;
                font-size: 1.5rem;
                font-weight: 500;
                cursor: pointer;

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
            }

            button:hover{
                background-color: $bg_active;
            }

            button:active{
                background-color: $btn_bg_color;
            }

            span:hover{
                animation: arrowAnimationSlider 1.5s ease infinite;
            }

            @keyframes arrowAnimationSlider {
                0%{
                    transform: translateX(2px);
                }

                50%{
                    transform: translateX(-5px);
                }

                100%{
                    transform: translateX(2px);
                }
            }
        }
    }
}

.active{
    display: flex !important;
    opacity: 1;
    transition: 0.8s ease;
}

.none{
    display: none !important;
    opacity: 0;
    transition: 0.8s ease;
}