header{
    @include container(row, center, center);
    width: 100vw;
    min-width: $min-wdth;
    height: 10vh;
    min-height: 98px;
    background-color: $bg_color;

    a{
        color: $btn_font_color;
        font-weight: 500;
    }

    nav{
        @include container(row, center, center);
        width: 100vw;
        min-width: $min-wdth;
        height: 100%;
        max-height: 98px;
        background-color: inherit;

        .nav_container{
            @include container(row, space-between, center);
            width: 100%;
            max-width: $max_width;
            height: 100%;
    
            .logo{
                @include container(column, center, center);
    
                img{
                    max-width: 125px;
                }

                img:last-of-type{
                    display: none;
                }
            }
    
            .options{
                width: 50%;
                max-width: 400px;
                text-transform: capitalize;
    
                ul{
                    width: 100%;
                    @include container(row, space-between, center);
                }
            }
    
            .btn-download{
                max-width: 100px;

                a:hover{
                    transform: translateY(-5px);
                    filter: $drop_shadow;
                }
            } 
        }
    }
}

// CLASS FOR JS
.fixed{
    position: fixed;
    animation: fixedA 0.5s ease;
    z-index: 1;
    background-color: $bg_color;
    text-decoration: none;
    color: inherit;

    .logo{
        img:first-of-type{
            display: none;
        }

        img:last-of-type{
            display: block !important;
        }
    }
}

@keyframes fixedA {
    0%{
        text-decoration: none;
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        text-decoration: none;
        transform: translateY(0);
        opacity: 1;
    }
}