header{
    @include container(row, center, center);
    width: 100vw;
    height: 10vh;

    nav{
        @include container(row, space-between, center);
        width: 100%;
        max-width: $max_width;
        height: 75%;

        .logo{
            @include container(column, center, center);

            img{
                max-width: 180px;
            }
        }

        .options{
            width: 50%;
            max-width: 400px;
            text-transform: capitalize;

            ul{
                width: 100%;
                @include container(row, space-between, center);
            }
        }

        .btn-download{
            max-width: 100px;
        }
    }
}