* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", "Arial";
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: #2a58f0;
  border-radius: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.btn-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.btn-pattern a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 48px;
  background-color: #2a58f0;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  transition: transform 0.5s ease, filter 0.5s ease;
}
.btn-pattern a:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4588235294));
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #fff;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  max-height: 98px;
  background-color: inherit;
}
header nav .nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  height: 100%;
}
header nav .nav_container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav .nav_container .logo img {
  max-width: 125px;
}
header nav .nav_container .logo img:last-of-type {
  display: none;
}
header nav .nav_container .options {
  width: 50%;
  max-width: 400px;
  text-transform: capitalize;
}
header nav .nav_container .options ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .nav_container .btn-download {
  max-width: 100px;
}

.fixed {
  position: fixed;
  animation: fixedA 0.5s ease;
  z-index: 1;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
}
.fixed .logo img:first-of-type {
  display: none;
}
.fixed .logo img:last-of-type {
  display: block !important;
}

@keyframes fixedA {
  0% {
    text-decoration: none;
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    text-decoration: none;
    transform: translateY(0);
    opacity: 1;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: #fff;
}

section.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  height: 550px;
  padding-top: 150px;
}
section.banner .text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}
section.banner .text-container h1 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 50px;
}
section.banner .text-container h1 span {
  color: #2b50c7;
}
section.banner .text-container p {
  margin-top: 20px;
  line-height: 30px;
  font-size: 1.1em;
}
section.banner .text-container .btn-pattern {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
section.banner .text-container .btn-pattern a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
}
section.banner .text-container .btn-pattern a ion-icon {
  margin-left: 5%;
}
section.banner .text-container .btn-pattern a:nth-of-type(2) {
  background-color: #e1e7fc;
  color: #2b50c7;
  margin-left: 15px;
}
section.banner .img-container {
  flex: 1;
  padding: 20px;
  pointer-events: none;
}
section.banner .img-container img {
  width: 630px;
}/*# sourceMappingURL=main.css.map */